# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://basqnprawizfgjnvxxws.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJhc3FucHJhd2l6ZmdqbnZ4eHdzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1MDIwMjksImV4cCI6MjA5NjA3ODAyOX0.TtH9DEPfJ1HAA3Fu7Ha6UuPX61l7Rmt14Abbo1lS164
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJhc3FucHJhd2l6ZmdqbnZ4eHdzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDUwMjAyOSwiZXhwIjoyMDk2MDc4MDI5fQ.wugZypMMwt44MvYLne_Zo1eY2uFWT-L6iQ5Dt7hrd0M

# Google Drive Configuration
GOOGLE_DRIVE_API_KEY=AIzaSyBu9eoo8JClnsGHgpEyP_gAj9WI0g_78hI
GOOGLE_DRIVE_FOLDER_ID=1bwIv6CbA40dWpKorBVSC5-yIW5IOey67

# Site Configuration
NEXT_PUBLIC_SITE_URL=https://yourdomain.com
